USE [Salamtak]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/22/2026 7:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[first_name] [varchar](50) NULL,
	[middle_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[phone2] [varchar](20) NULL,
	[gender] [varchar](10) NULL,
	[birth_date] [date] NULL,
	[password] [varchar](50) NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [first_name], [middle_name], [last_name], [email], [phone], [phone2], [gender], [birth_date], [password], [role], [status]) VALUES (1, N'admin', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'123', N'admin', N'approved')
INSERT [dbo].[users] ([id], [username], [first_name], [middle_name], [last_name], [email], [phone], [phone2], [gender], [birth_date], [password], [role], [status]) VALUES (1002, N'rania mohamed el', N'rania', N'mohamed', N'el', N'raniamahmoud9122512@gmail.com', N'55555', N'89797', N'female', CAST(N'2026-04-01' AS Date), N'123', N'doctor', N'approved')
INSERT [dbo].[users] ([id], [username], [first_name], [middle_name], [last_name], [email], [phone], [phone2], [gender], [birth_date], [password], [role], [status]) VALUES (1004, N'mai ahmed ali', N'mai', N'ahmed', N'ali', N'mii@gmail.com', N'85749876', N'857943856', N'female', CAST(N'2024-08-08' AS Date), N'741', N'patient', N'approved')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
